<div class="container-fluid homeBody">
    <div class="row d-flex flex-column flex-md-row align-items-sm-center homeRow">
        <div class="col-12 col-md-8 divMain">
            <div class="colDiv1">
                <div class="row">
                    <div class="col-10 col-md-12">
                        <h1 class="head head1">A comprehensive platform for reliable</h1>
                        <h2 class="head head2">job opportunities and internships</h2>
                        <h4 class="head head3">Get Discovered. Get Hired.</h4>
                    </div>
                    <!-- <div class="col-2"></div> -->
                    <div class="col-2 col-md-12 d-none d-md-flex flex-column flex-md-row justify-content-md-start buttons">
                        <div class="btnDiv d-flex flex-column justify-content-around flex-md-row justify-content-md-around" >
                            <a href="/jobs/alljobs/seeker">Seeking job?</a>
                            <a href="#" class="hireBtn">Wanna Hire?</a>
                            <div class="extraOptions hidden">
                                <a href="/job/getPostForm">Post a Job</a>
                                <a href="/jobs/alljobs/recruiter">See all your posts</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 colImg">
            <img src="/asserts/banner.png" alt="" class="img-fluid w-40 w-md-95 homeimg">
        </div>
    </div>
</div>