<%if(errors){%>
  <div class="alert alert-danger" role="alert">
      <%=errors%>
    </div>
<%}%>
<div class="container-fluid" style="background-color: #07037a; height: 100vh;">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card mt-5">
          <div class="card-body">
            <h3 class="text-center">Login</h3>
            <form action="/user/login/seeker" method="post">
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" required name="email">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required name="password">
              </div>
              <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>