<div class="mainBox">

    <div class="section1">
    <div class="row activeHire">
        <div class="col-8">
            <div class="content1">
                Actively hiring
                <i class="fa-solid fa-chart-line"></i>
            </div>
        </div>
    </div>

    <div class="row orgName">
        <div class="col-12">
            Orgination name
        </div>
    </div>

    <div class="row designation">
        <div class="col-12">
            <span class="span1">tech/non-tech</span><span> </span> <span class="span2">designation</span>
        </div>
    </div>

</div>
    <div class="row location">
        <div class="col-9">
            <div class="content4">
                <i class="fa-solid fa-location-dot"></i>
                Location here
            </div>
        </div>
    </div>


    <div class="row salary">
        <div class="col-12">
            20lpa
        </div>
    </div>


    <div class="section2">
    <!-- skills -->
    <div class="row skills">
        <div class="col-12">
            <div class="skillbox">
                skill1
            </div>
        </div>
    </div>
     

    <div class="row button">
        <div class="col-12">
            <form action="" method="post">
                <button type="submit">View details</button>
            </form>
        </div>
    </div>
</div>

</div>